/* Existing CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #151d2f;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #13fc97;
  color: #151d2f;
  border-radius: 0.5em;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  width: 100%;
  max-width: 50em;
  margin: 1em auto;
  padding: 0.5em;
}
.search-container input {
  padding: 1em;
  border-radius: 0.5em;
  font-weight: 400;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container {
  background-color: #2b304d;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em;
  border-radius: 0.5em;
}
.container img {
  width: 100%;
}
.container button {
  margin-top: 1em;
  padding: 1em 0;
}
.loader {
  display: none;
  height: 15em;
  width: 15em;
  border: 3em solid #2b304d;
  border-radius: 50%;
  border-top-color: #13fc97;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation: spin 3s infinite;
}
#load-more-btn {
  margin: 1em auto;
  display: block;
  padding: 1em 2em;
  border-radius: 0.5em;
  font-weight: 500;
  position: relative;
}

/* Spinner style */
#load-more-btn .spinner {
  border: 2px solid transparent;
  border-top: 2px solid #151d2f;
  border-right: 2px solid #151d2f;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: button-spin 0.8s linear infinite;
  position: absolute;
  left: calc(50% - 0.5em);
  top: calc(50% - 0.5em);
  display: none;
  
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes button-spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    margin: 0.7em;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
